body {
  font: 14px "Century Gothic", Futura, sans-serif !important;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
±§ blockquote {
  font-size: 16px !important;
  line-height: 18px !important;
}

table {
  font-size: 14px !important;
  line-height: 16px !important;
}
.square {
  /* background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  ); */
  /* background: #fff; */
  border: 1px solid #999;
  border-radius: 0px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  text-transform: uppercase;
}

.square.TL {
  background-color: #1798d2;
}
.square.TW {
  background-color: #e13328;
}
.square.DL {
  background-color: #97cce4;
}
.square.DW {
  background-color: #efada9;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
